@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
    --sidebar-color: #1C212D;
    --sidebar-active-color: #FFD831;
    --sidebar-color-lighter: #7E8CA5;
    --new: #99BE7D;
    --screening: #2D6360;
    --design: #FF7E00;
    --interview: #BF68C6;
    --test: #49CBC4;
    --hired: #FFD728;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 225px;
    background-color: var(--sidebar-color);
}
.sidemenu .logo img{
    min-width: 10px;
    max-width: 45px;
    margin-top: 5px;
    margin-left: 12px;
    height: auto;
    display: flex;
    align-items: center;
}
.sidemenu .logo-text h1{
    margin-top: 10px;
    font-weight:800
}
.menu{
    margin-top: 15px;
    list-style: none;
    padding: 0;
}
.sidemenu .menu-item {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    transition: background-color var(--tran-03), color var(--tran-03);
}
.menu-item i {
    font-size: 15px;
    margin: 0 7px;
    color: #7E8CA5;
}
.menu-item span {
    margin-left: 10px;
    font-size: medium;
    font-weight:500;
    color: white;
}
.menu-title {
    margin-top: 3px;
    padding: 8px 20px;
    font-weight: bold;
    color: var(--sidebar-color-lighter); /* Set the color for the lighter text */
}
.menu-item:hover {
    background-color: var(--sidebar-active-color);
    color: var(--sidebar-color);
}
.menu-item:hover span,
.menu-item:hover i {
    color: var(--sidebar-color); /* Change this color to the desired color on hover */
}
.main{
    position: relative;
    background-color: white;
    left: 225px;
    width: calc(100% - 225px);
    height: 100vh;
    transition: all 0.5s ease;
}
.sidemenu.close ~ .main{
    left: 65px;
    width: calc(100% - 78px);
}
.main{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
}
.toggle-menu{
    margin: 0;
    padding: 0;
    width: 60px;
    list-style: none;
}
.main .navbar .bx-menu{
    color: #7E8CA5;
    font-size: 35px;
    margin: 0 15px;
}
.hidden {
    display: none;
}
.organization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.organization p{
    margin: 0;
    padding: 0;
}
.organization .org-title{
    color:  gray;
}
.icon-container{
    padding-left: 25px;
}
.icon-container i {
    margin: 0 8px;
}
.add,
.profile,
.notification {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0;
}
.add {
    background-color: #FFD831;
}
.add i{
    font-size: 20px;
}
.profile,
.notification {
    background-color: lightgray;
}
.main-content{
    background-color: #F3F6F9;
    padding: 20px;
    height: 100vh;
}
.count h5{
    font-weight: 600;
}
.filter-button{
    width: 80px;
    height: 27px;
    padding: 2px;
    color: gray;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.light-text{
    color: grey;
}
.tools{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-down{
    font-size: 15px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    position: relative;
    background-color: rgb(211, 210, 210);
}
.vertical-line{
    border-right: 2px solid gainsboro;
    height: 25px;
    padding: 10px;
    margin-right: 22px;
}
.print, .download{
    font-size: 15px;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    background-color: white;
    color: gray;
}
/* toggle between list and grid view */
#toggle-btn{
    appearance: none;
    -webkit-appearance: none ;
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    background-color: lightgray;
    border-radius: 3px;
    position: relative;
    outline: none;
    transition: all 0.5s;
}
#toggle-btn::before{
    /* content: '\f00b';  */
    content: ''; 
    background-color: white;
    height:25px;
    width: 25px;
    position: absolute;
    border-radius: 3px;
    top:0;
    left:0;
    transition: all 0.5s;
}
#toggle-btn::after{
    /* content: "\f00a"; */
    content: ''; 
    position: absolute;
    transform: translate(0,-50%);   
    transition: all 0.5s;
}
#toggle-btn:checked::before{
    left:50%;
}
#toggle-btn:checked:after{
    content: "";
    left: 0;
}
tbody:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
}
tbody .body-row{
    border-radius: 3px;
    border-bottom: 3px solid #F3F6F9;
    vertical-align: middle;
}
.candidate-table table {
    border-radius: 5px; 
    overflow: hidden;
    height: 40px;
}
.head-row th {
    vertical-align: middle;
}
.head-row th i {
    margin: 0;
    vertical-align: middle;
}
.employee-name{
    width: 350px;
}
.pfp{
    width: 30px;
    height: 30px;
}
.rating{
    border: 1px solid gainsboro;
    width: 60px;
    padding: 2px;
    border-radius: 50px;
    font-size: 15px;
    color: gray;
}
tr i{
    margin-top: 4px;
    margin-left: 1px;
}
.bxs-star{
    color:#FFD831
}
.bx-chevron-down{
    margin-left: 3px;
}
.stage-name p{
    margin: 0;
    padding: 0;
}
.stage-box div{
    width: 20px;
    height: 15px;
    margin-top: 1px;
    margin-right: 2px;
    margin-bottom: 3px;
    background-color: lightgray;
}
.new .one{
    background-color: var(--new);
}
.screening .one,
.screening .two{
    background-color: var(--screening);
}
.design .one,
.design .two,
.design .three{
    background-color: var(--design);
}
.interview .one,
.interview .two,
.interview .three,
.interview .four{
    background-color: var(--interview);
}
.test .one,
.test .two,
.test .three,
.test .four,
.test .five{
    background-color: var(--test);
}
.hired .one,
.hired .two,
.hired .three,
.hired .four,
.hired .five,
.hired .six{
    background-color: var(--hired);
}
.list-count input{
    width: 30px;
    height: 20px;
    border: 1px solid gray;
    padding-left: 5px;
    padding-top: 2px;
}
.dropup{
    width: 20px;
    height: 20px;
    padding-left: 2px;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}
.numbers{
    width: px;
    padding: 10px;
}
